body{

}

nav{
    background-color: dodgerblue;
    padding: 20px;
}
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 8px;
}
h1 {
    text-align: right;
    margin-right: 20px;

}

h3.overzicht {
    text-align: right;
    margin-right: 50px;
}





table{
    float: right;
    width: 45%;
}

section.images{
    padding-top: 80px;
}
footer{
    background-color: grey;

}