body{

}
nav{
    background-color: dodgerblue;
    padding: 20px;

}
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;

    padding-right: 8px;
}
section.top{
    width:25%;
    float: left;



}
section.bottom{
    width: 35%;
    float: left;

}
h1{

    float: right;
}
table{

}
