* {
font-family: Arial;
}

header {
    background-color: rgb(85,167,231);
    padding: 20px;
}

header a {
    margin-right: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

section img {
    padding: 30px;
}

section article {
    width: 33%;
    float: right;
    padding-right: 100px;
    padding-top: 30px;
}

nav h2 {
    padding-left: 35px;
}

footer {
    padding: 30px;
}

footer, footer a {
    background-color: darkgray;
    color: white;


}

footer a {
    display: block;
}

footer h4 {
    text-align: center;
}

section#links {
    padding: 30px;
    display: block;
}

section a {
    padding: 30px;

}